root = true

[*]
charset                  = utf-8
max_line_length          = 80
end_of_line              = LF
insert_final_newline     = true
trim_trailing_whitespace = true
indent_size              = 2
indent_style             = space

[fixwinsz]
indent_size = 4

[GNUmakefile]
indent_size  = 8
indent_style = tab
